extends layout

block content
  h1=outsource
  p
    span=master+'\t'+date

  table
    tr
      td №
      td Кальян
      td Персонал
      td Админ
      td Комментарий
    each elem in table
      tr
        td=(table.indexOf(elem) + 1)
        td=elem.product
        td=(elem.personal ? '+' : '')
        td=(elem.admin ? '+' : '')
        td=elem.comment
  p='Касса: '+cash+' грн'
  button + Add
  form(class='addLine' action='/addline')
    p(style='display: none')
      input(disabled name='master' value=master)
      input(disabled name='outsource' value=outsource)
      input(disabled name='date' value=date)
    label
      h3 Кальян:
      select(name='hookah')
        option(value='light') Light
        option(value='premium') Premium
        option(value='strong') Strong

    p
      label
        input(type='checkbox' name='personal')
        span Персонал
    p
      label
        input(type='checkbox' name='admin')
        span Aдмин
    textarea(name='comment')
    p
      span Колличество
      input(type='number' name='number' value=1)
    p
      input(type='submit' value='Добавить запись')

  script(type="text/javascript" src='./javascripts/add-line.js')
